---
---

@font-face {
  font-family: Vazir;
  src: url('/fonts/Vazir.eot');
  src: url('/fonts/Vazir.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Vazir.woff2') format('woff2'),
       url('/fonts/Vazir.woff') format('woff'),
       url('/fonts/Vazir.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

$blue: #3878B7;
$black: #000000;
$gray: #666666;
$darkGray: #4A4A4A;
$lightGray: #EEEEEE;
$white: #FFFFFF;

$Vazir: Vazir, Tahoma;

@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $Vazir;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $Vazir;
  color: $black;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul { list-style-type: square; }
ul { list-style-position: inside; }
ol { list-style-type: persify; }
li > ul, li > ol { margin-bottom: 0; }

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

video {
  width: 100%;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: right;
  }
}

nav {
  float: none;
  margin-top: 23px;
  font-family: $Vazir;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
  }

  a {
    margin-left: 20px;
    color: $black;
    text-align: right;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $white;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.center {
  text-align: center;
}

.highlight {
  background-color: #efefef;
  padding: 7px 7px 7px 10px;
  margin: 20px 0 20px 0;
  word-break: break-all;
  word-wrap: break-word;
  direction: ltr;
}

code {
  font-family:'Vazir', monospace;
}

.highlight .c { color: #586E75 }
.highlight .err { color: #93A1A1 }
.highlight .g { color: #93A1A1 }
.highlight .k { color: #859900 }
.highlight .l { color: #93A1A1 }
.highlight .n { color: #93A1A1 }
.highlight .o { color: #859900 }
.highlight .x { color: #CB4B16 }
.highlight .p { color: #93A1A1 }
.highlight .cm { color: #586E75 }
.highlight .cp { color: #859900 }
.highlight .c1 { color: #586E75 }
.highlight .cs { color: #859900 }
.highlight .gd { color: #2AA198 }
.highlight .ge { color: #93A1A1; font-style: italic }
.highlight .gr { color: #DC322F }
.highlight .gh { color: #CB4B16 }
.highlight .gi { color: #859900 }
.highlight .go { color: #93A1A1 }
.highlight .gp { color: #93A1A1 }
.highlight .gs { color: #93A1A1; font-weight: bold }
.highlight .gu { color: #CB4B16 }
.highlight .gt { color: #93A1A1 }
.highlight .kc { color: #CB4B16 }
.highlight .kd { color: #268BD2 }
.highlight .kn { color: #859900 }
.highlight .kp { color: #859900 }
.highlight .kr { color: #268BD2 }
.highlight .kt { color: #DC322F }
.highlight .ld { color: #93A1A1 }
.highlight .m { color: #2AA198 }
.highlight .s { color: #2AA198 }
.highlight .na { color: #93A1A1 }
.highlight .nb { color: #B58900 }
.highlight .nc { color: #268BD2 }
.highlight .no { color: #CB4B16 }
.highlight .nd { color: #268BD2 }
.highlight .ni { color: #CB4B16 }
.highlight .ne { color: #CB4B16 }
.highlight .nf { color: #268BD2 }
.highlight .nl { color: #93A1A1 }
.highlight .nn { color: #93A1A1 }
.highlight .nx { color: #555 }
.highlight .py { color: #93A1A1 }
.highlight .nt { color: #268BD2 }
.highlight .nv { color: #268BD2 }
.highlight .ow { color: #859900 }
.highlight .w { color: #93A1A1 }
.highlight .mf { color: #2AA198 }
.highlight .mh { color: #2AA198 }
.highlight .mi { color: #2AA198 }
.highlight .mo { color: #2AA198 }
.highlight .sb { color: #586E75 }
.highlight .sc { color: #2AA198 }
.highlight .sd { color: #93A1A1 }
.highlight .s2 { color: #2AA198 }
.highlight .se { color: #CB4B16 }
.highlight .sh { color: #93A1A1 }
.highlight .si { color: #2AA198 }
.highlight .sx { color: #2AA198 }
.highlight .sr { color: #DC322F }
.highlight .s1 { color: #2AA198 }
.highlight .ss { color: #2AA198 }
.highlight .bp { color: #268BD2 }
.highlight .vc { color: #268BD2 }
.highlight .vg { color: #268BD2 }
.highlight .vi { color: #268BD2 }
.highlight .il { color: #2AA198 }
