---
---

@font-face {
  font-family: Vazir;
  font-display: swap;
  src: url('/static/font/Vazir.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font: 18px/1.6 Vazir,Tahoma;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 15px 0;
}

a {
  color: black;
}

ul {
  list-style-type: square;
}

img {
  max-width: 100%;
}

video {
  width: 100%;
}

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;

  @include mobile {
    text-align: right;
  }
}

nav {
  margin-top: 9px;

  a {
    margin-left: 5px;

    @include mobile {
      margin: 0 1px;
    }
  }
}

.posts>.post {
    padding-bottom: 1.5em;
    border-bottom: 1px solid lightgray;
    a {
        text-decoration: none;
    }
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    padding: 0.1em 1em;
    font-style: italic;
    direction: rtl;
    border-left: none;
    border-right: 4px solid silver;
  }
}

.wrapper-footer {
  margin-top: 20px;
  border-top: 1px solid lightgray;
}

footer {
  padding: 15px;
  text-align: center;
}

.center {
  text-align: center;
}

pre {
  direction: ltr;
  border: 1px solid silver;
  border-radius: 3px;
  padding: 8px 12px;
  overflow-x: auto;
}

.button {
  border: 1px solid silver;
  border-radius: 3px;
  padding: 8px 16px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
}

hr {
  border-top: 1px dotted gainsboro;
}
