<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
<meta name="author" content="ehsan chehri">
<meta property="og:locale" content="fa_IR">
<meta name="twitter:site" content="@ehsanchehri">
<meta name="twitter:creator" content="@ehsanchehri">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:image" content="https://ehsanchehri.github.io/images/ehsaider.png">
<meta name="twitter:card" content="summary">
<meta property="twitter:image" content="https://ehsanchehri.github.io/images/ehsaider.png">
{% if page.title %}
<meta content="article" property="og:type">
{% else %}
<meta content="website" property="og:type">
{% endif %}
{% if page.description %}
<meta content="{{ page.description }}" property="og:description">
{% else %}
<meta content="{{ site.description }}" property="og:description">
{% endif %}
{% if page.date %}
<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
{% endif %}
{% if page.canonical_url != nil %}
<link rel="alternate" href="{{ page.canonical_url }}" hreflang="fa-ir">
{% else %}
<link rel="alternate" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" hreflang="fa-ir">
{% endif %}
