---
layout: compress
---

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<link rel="preload" href="{{ site.url }}/static/font/Vazir.woff2" as="font" type="font/woff2" crossorigin>
<link href="{{ site.url }}/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper-masthead">
<div class="container">
<header class="masthead">
<a title="{{ site.name }}" href="{{ site.url }}/"><img src="{{ site.url }}/static/image/logo.svg" alt="{{ site.name }}" width="171" height="56"></a>
<nav>
<a href="{{ site.url }}/" class="button">خانه</a>
<a href="{{ site.url }}/seo" class="button">سئو</a>
<a href="{{ site.url }}/google-ranking-factors" class="button">فاکتورهای گوگل</a>
</nav>
</header>
</div>
</div>
<h1 class="center">404</h1>
<div id="main" role="main" class="container center">{{ content }}</div>
<div class="wrapper-footer">
<div class="container">
<footer class="center">
<a href="{{ site.url }}/ehsanchehri" class="button">تماس با من</a>
</footer>
</div>
</div>
</body>
</html>
