<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
<title>{% if page.title %}{{ page.title }}{% endif %}{% if site.name %}{{ site.name }}{% endif %}</title>
{% seo title=false %}
{% include meta.html %}
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="alternate" type="application/rss+xml" href="feed.xml">
</head>
<body>
<div class="wrapper-masthead">
<div class="container">
<header class="masthead clearfix" itemscope itemtype="https://schema.org/WPHeader">
<nav>
<a title="{{ site.name }}" href="https://ehsanchehri.github.io/"><img src="{{ site.avatar }}" alt="{{ site.name }}"></a>
</nav>
</header>
</div>
</div>
<div id="main" role="main" class="container">{{ content }}</div>
<div class="wrapper-footer">
<div class="container">
<footer class="footer" itemscope itemtype="https://schema.org/WPFooter">
{% include svg-icons.html %}
</footer>
</div>
</div>
</body>
</html>
