<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
{% if page.canonical_url != nil %}
<link rel="canonical" href="{{ page.canonical_url }}">
{% else %}
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
{% endif %}
<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="wrapper-masthead">
<div class="container">
<header class="masthead clearfix">
<a title="{{ site.name }}" href="{{ site.url }}/" rel="home"><img src="images/ehsaider.png" alt="{{ site.name }}"></a>
<nav>
<a href="https://ehsaider.ir/">صفحه اول</a>
<a href="/chess-tactics">تاکتیک‌ها</a>
<a href="/buy-backlinks">منابع</a>
</nav>
</header>
</div>
</div>
<div id="main" role="main" class="container">{{ content }}</div>
<div class="wrapper-footer">
<div class="container">
<footer class="footer">
<nav>
<a href="https://twitter.com/ehsanchehri" rel="nofollow noopener" target="_blank">توییتر</a>
<a href="feed.xml" target="_blank">فید</a>
</nav>
</footer>
</div>
</div>
</body>
</html>
